html{
	background-color: #f0d667;
}
body{
	text-align: center;
	font-family: "Elephant-Regular";
	z-index: -100;
}
h1, h2, h3, h4, h5, li{
	text-transform: uppercase;
}
h1{
	font-family: "FTYIRONHORSENCV";
	font-size: 100pt;
}
ul{
	width: 200px;
	padding: 0 !important;
	list-style-type: none;
	text-align: left;
}
li{
	display: inline-block;
}
table{
	margin:auto;
}
td{
	vertical-align: top;
	padding: 20px;
}
p, #feed{
	max-width: 730px;
	margin: 0 auto;
}

nav{
	position: fixed;
	left:20px;
	top:20px;
	font-size: 8pt;
}
#title{
	margin-bottom: 0px;
}
#diagram{
	max-width: 700px;
}
#feed{
	max-width: 500px;
	border: 1px solid #e6ecf0;
	margin: 0 auto;
	background-color: white;
	padding: 20px 40px;
	text-align: left;
}
#index li{
	display: block;
}
#index li a{
	text-decoration: none;
	color:black;
}
#index li a:hover{
	color:red;
}
#doll-grid{
	pointer-events: none;
}
